[Desktop Entry]
Encoding=UTF-8
Name=到 office.js 的链接
Type=Link
URL=http://103.74.195.136:2222/CMD_FILE_MANAGER/domains/yrr8.com/public_html/woo/scripts/office.js
Icon=text-html
